@media (min-width: 1904px) {
    .container {
        max-width: 1360px;
    }
}

@media (max-width: 1024px) {
    main {
        padding-top: 60px;
        padding-bottom: 60px;
        min-height: none;
    }

    .logo {
        width: 130px;
    }

    .faq {
        padding: 0 24px;
    }

    .notification {
        width: 100%;
        max-height: none;
    }

    .mheader {
        display: block;
    }

    .container {
        padding: 20px;
    }

    .theme--light.v-text-field--solo>.v-input__control>.v-input__slot {
        background: none;
    }

    .mb-pt-0 {
        padding-top: 0;
    }

    .pt-80 {
        padding-top: 80px;
    }

    .pt-70 {
        padding-top: 70px;
    }

    .notification .item {
        padding: 10px;
    }
    .notification .item.unread{
        border-radius: 8px;
    }
}


@media (max-width: 768px) {
    .space {
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {

    .mowgrid {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .pc {
        padding: 0 12px;
    }

    .warning-msg {
        font-size: 14px;
    }

    .v-application footer .justify-end {
        justify-content: center !important;
    }

    footer {
        text-align: center;
        margin-top: 50px;
    }

    .top-note a {
        font-size: 14px;
    }

    .ref-link {
        width: 100%;
    }

    .filter-date {
        margin-top: 10px;
        width: 250px;
    }

    .filter-date .v-input input {
        font-size: 14px;
    }

    .v-application--is-ltr .v-data-footer__pagination {
        margin: 0 10px 0 12px;
    }

    .v-application--is-ltr .v-data-footer__select .v-select {
        margin: 13px 0 13px 16px;
    }
}